/**
*
* Bootstrap Admin Template
*
* Author : Karthick Kumar;
*
* Author URL : http://karthickkumar.com
*
**/

/*This is the additional css written for admin panel controls */
body {
background-image: url(../../assets/img/bg-noise.jpg);
background-position: 0 0;
background-repeat: repeat;
}

body {
	font-size: 14px; 
	font-family: 'Droid Sans', Helvetica, arial, freesans, clean, sans-serif;
}

h1 {
  font-family: 'Patua One', cursive;
  font-size:30px;
  color: #a2a2a2;
}

h2 {
  font-family: 'Patua One', cursive;
  font-size:24px;
  color: #a2a2a2;
}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

.section {
background-color: white;
border: 1px solid #CCC;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
margin-bottom: 18px;
}


.section-header {
background-color: #F6F6F6;
background-image: -moz-linear-gradient(top, #FAFAFA, #F2F2F2);
background-image: -ms-linear-gradient(top, #FAFAFA, #F2F2F2);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FAFAFA), to(#F2F2F2));
background-image: -webkit-linear-gradient(top, #FAFAFA, #F2F2F2);
background-image: -o-linear-gradient(top, #FAFAFA, #F2F2F2);
background-image: linear-gradient(top, #FAFAFA,#F2F2F2);
background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFAFAFA', endColorstr='#FFF2F2F2', GradientType=0);
border-top: 1px solid white;
border-bottom: 1px solid #CCC;
-moz-border-radius-topleft: 4px;
-webkit-border-top-left-radius: 4px;
-ms-border-top-left-radius: 4px;
-o-border-top-left-radius: 4px;
border-top-left-radius: 4px;
-moz-border-radius-topright: 4px;
-webkit-border-top-right-radius: 4px;
-ms-border-top-right-radius: 4px;
-o-border-top-right-radius: 4px;
border-top-right-radius: 4px;
height: 46px;
line-height: 46px;
padding: 0 15px 0;
}

.section-body {
min-height: 18px;
padding: 9px 15px 0;
}

.section-header h3 {
	color: #666;
	text-shadow: 1px 1px 0 white;
	margin-top: 10px;
}

.help-block-small {
	display: block;
	margin-bottom: 8px;
	color:#999999;
	font-size:10px;
}

.logo {

	padding : 20px 0;
	color: #cfcfcf;
	text-shadow: #fff 1px 1px 2px;
	text-align:center;
}

#login {
	margin: 0 auto;
	float:none;
}
a.admin-brand {
  display: block;
  float: left;
  padding: 12px 20px 12px;
  margin-left: -20px;
  font-size: 18px;
  font-weight: 800;
  line-height: 1;
  color: #aaa;
}
.admin-brand:hover {
  text-decoration: none;
}

.navbar-inner-admin {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-color:#010101;
 /* background-image:url(../../assets/img/bg-black-texture.png);*/
  background-repeat:repeat-x;
}
.admin-top-bar {
  min-height: 90px;
  background-color:#fcfcfc;
 /* background-image:url(../../assets/img/bg-black-texture.png);*/
  background-repeat:repeat-x;
}
.admin-left-bar {
  margin: 10px 0px 30px 0px;
  border-radius:10px;
  background-color:#333745;
  /*background-image:url(../../assets/img/bg-admin-left.png);*/
  background-repeat:repeat-y;
}


.side-nav {
  list-style: none;
  margin: 0 0 0 0;
}
.side-nav ul {
}
.side-nav li a{
  color:#fcfcfc;
  display: block;
  padding: 12px 8px;
  text-decoration:none;
}
.side-nav li a:hover {
  color: #111;
  background:#99aabb;
}
.side-nav li:first-child a:hover {
  color: #111;
  background:#99aabb;
  border-top-right-radius:10px;
  border-top-left-radius:10px;
}
.side-nav li:last-child a:hover {
  color: #111;
  background:#99aabb;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
}
.admin-breadcrumb {
  margin-top:10px;
  margin-bottom:10px;
}
hr {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #eee;
}
.footer-widget-bar {
  border-color:#eee;
  border-radius:4px;
  background-color: #cfcfcf;
  min-height:150px;
  max-height:100%;
}
h2 {
  margin-top:8px;
  margin-bottom:10px;
}
.credit-links li a{
    color: #999;
    text-decoration:none;
}